.mike{
    background-color: bisque;
    padding: 1px;
    padding-right: 0%;
    border: solid thin black;
}
menu{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 1em;
}
.erik{
    width: auto;
    height: 8mm;
    background-color: white;
    border-radius: 30px;
    border-color: yellow;
    font-weight: bold;
    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.ordenar{
    cursor: pointer;
}
#mas_notas{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
#contenido{
    height: 7mm;
    width: 70mm;
    border-width: 1mm;
}
#ordenar{
    border-radius: 0px;
}
#cambio_color{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-width: 2px;
}
#creacion_notas{
    border-radius: 3px;
    border-color: black;
    border-style: dashed;
}
#color_change{
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 30px;
    border-color: yellow;
    color : #FFA500;
}
h1{
    font-weight: bold;
    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.menu-container {
    position: relative;
    display: inline-block;
}
.menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}
.menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    background-color: #f0f0f0;
}