.erik{
    width: auto;
    height: 8mm;
    background-color: white;
    border-radius: 30px;
    border-color: yellow;
    font-weight: bold;
    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#mas_notas{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
#contenido{
    height: 7mm;
    width: 70mm;
    border-width: 1mm;
}
#ordenar{
    border-radius: 0px;
}
#cambio_color{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-width: 2px;
}
#creacion_notas{
    border-radius: 3px;
    border-color: black;
    border-style: dashed;
}
#color_change{
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 30px;
    border-color: yellow;
}
h1{
    font-weight: bold;
    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
}